#.gitignore

/TODO.md

backend/config/keys.js
backend/node_modules
backend/package-lock.json

dcs/node_modules
#dcs/package-lock.json
dcs/build
dcs/src/development
dcs/src/styles/index.css

docker/app/keys.js
docker/nginx/files
